name: Build and Deploy MkDocs Site

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v2
        with:
          key: ${{ github.ref }}
          path: .cache

      - name: Install dependencies
        run: pip install mkdocs-material mkdocs-minify-plugin mike

      - name: Publish site
        run: |
          cp -f README.md docs/index.md
          cp -f LICENSE docs/license.md
          cp -f CONTRIBUTING.md docs/nav/development/contributing-guide.md
          mkdocs gh-deploy --force
